* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  overflow-x: visible;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  min-width: 100%;
  box-sizing: inherit;
  background-color: rgba(199, 194, 194, 0.487);
}

.framework {
  padding: 1rem;
  margin: 0;
}

h1 {
  z-index: 1;
  margin: 0;
  padding: 0;
}

/* ----------------BIO-LINK CARD-----------------*/

.card {
  position: fixed;
  inset: 0;
  /* background-color: cadetblue; */
  background: linear-gradient(
    0deg,
    rgba(4, 46, 233, 0.7) 20%,
    rgba(251, 255, 1, 0.7) 100%
  );
  border-radius: 5px;
  line-height: 1;
  -webkit-backdrop-filter: blur(50px);
  backdrop-filter: blur(50px);
  padding: 2rem 1rem;
  display: grid;
  place-items: center;
  z-index: 10;
  height: 100%;
  width: 100%;
  max-width: 30rem;
  margin-left: auto;
  margin-right: auto;
}

.card-content {
  position: relative;
  padding: 0.5rem;
  margin: 0;
  width: inherit;
  height: inherit;
}

.main-picture {
  background-color: #ffffff;
  border-radius: 50%;
  background-image: url("./main-pic.PNG");
  background-position: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 150px;
  max-height: 150px;
  margin-left: auto;
  margin-right: auto;
}

.name {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  height: fit-content;
  margin-top: 25px;
}
.name h1 {
  text-align: center;
  font-size: 27px;
}


.title {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  height: fit-content;
  margin-top: 20px;
}

.title h3 {
  color: #ffffff;
  text-align: center;
  font-weight: lighter;
  font-size: 15px;
  letter-spacing: 2px;
}

.follow-me {
  display: flex;
  padding: 1rem;
  margin: 1.5rem auto 0 auto;
  height: 5%;
  justify-content: space-around;
  position: relative;
}
.follow-me::before {
  content: "";
  display: inline-block;
  height: 1px;
  max-width: 120px;
  width: 100%;
  background-color: #ffffff;
}

.follow-me::after {
  content: "";
  display: inline-block;
  height: 1px;
  max-width: 120px;
  width: 100%;
  background-color: #ffffff;
}

.follow-me h4 {
  padding: 0;
  margin: 0;
  width: fit-content;
  height: fit-content;
  float: left;
  position: absolute;
  top: 8px;
  z-index: 10;
}

.icons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  height: 50px;
}

.icons-container i{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  transition: .3s;
  padding: 0;
}
.icons-container i::before{
  font-size: 25px;
  color: #0d0c0c;
  cursor: pointer;
}
.icons-container i:hover {
  transform: scale(1.3);
}

.buttons{
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: center;
  height: 200px;
}

.website-button{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: center;
  border: 1px solid #ffffff;
  border-radius: 20px;
  width: 300px;
  height: 100px;
  margin-top: 30px;
  cursor: pointer;
  transition: .3s;
}
.website-button:hover{
  background-color: #ffffff;
}

.website-button h1{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: fit-content;
    height: fit-content;
}
.NFT{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: center;
  border: 1px solid #ffffff;
  border-radius: 20px;
  width: 300px;
  height: 100px;
  margin-top: 30px;
  cursor: pointer;
  transition: .3s;
}
.NFT:hover{
  background-color: #ffffff;
}
.NFT h1{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: fit-content;
    height: fit-content;
}


/* ---------------------Resonsiveness-------------------- */

/* small devices (phones, 600px and down) */
@media screen and (max-width: 480px) {
.follow-me::before{
  max-width: 5rem;
  margin-right: 1.2rem;
}
.follow-me::after {
  max-width: 5rem;
  margin-left: 1.2rem;
}

.title h3{
  font-size: 12px;
}
}
@media screen and (max-width: 365px){
  .follow-me::before {
      max-width: 4rem;
      margin-right: 1.2rem;
    }
  
    .follow-me::after {
      max-width: 4rem;
      margin-left: 1.2rem;
    }
}
/* For Extra Small Screens Like Galaxy Fold  */
@media screen and (max-width:350px){
.card{
  max-width: 300px;
  padding: 1rem 2px;
}
.card-content{
  max-width: 250px;
  padding: 0;
}
.title h3 {
  font-size: 10px;
  text-align: start;
}
.name h1{
  font-size: 25px;
}
    .follow-me::before {
      max-width: 3.5rem;
      margin-right: 1.5rem;
    }
  
    .follow-me::after {
      max-width: 3.5rem;
      margin-left: 1.5rem;
    }

    .icons-container i{
      width: 35px;
    }
    .icons-container i::before{
      font-size: 20px;
    }
    
    .website-button,.NFT{
      max-width: 200px;
      width: 100%;
    }
    .website-button h1, .NFT h1{
      font-size: 20px;
    }
}